{% extends 'base.html' %}

{% block title %}
    <title>Create Item Page</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-center">Create an Item</h3>
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <form method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Item Title</label>
                <input type="text" required class="form-control" name="title" placeholder="Enter Item Title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Item Description</label>
                <textarea class="form-control" required name="description" placeholder="Enter Item Description"></textarea>
            </div>
            <div class="form-text">Enter full item description in details</div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}