{% extends 'base.html' %}

{% block title %}
    <title>Item Details Page</title>
{% endblock %}

{% block content %}
    <div class="container">
        <p>This is item details page</p>
        <table class="table">

        <tbody>
            <tr>
                <th scope="row">Title</th>
                <td>{{ item.title }}</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>{{ item.description }}</td>
            </tr>
            <tr>
                <th scope="row">Date Posted</th>
                <td >{{ item.date_posted }}</td>
            </tr>
            <tr>
                <th scope="row">Owner</th>
                <td >{{ user.email }}</td>
            </tr>
        </tbody>
        </table>
    </div>
{% endblock %}