{% extends "base.html" %}

{% block title %}
    <title>Delete Items Page</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Delete an item</h1>
        <div id="result">

        </div>
        {% for errorr in errors %}
            <div class="alert alert-danger" role="alert">
                {{ errorr }}
            </div>
        {% endfor %}
        {% if msg %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S No.</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                     <td><button type="button" class="btn btn-danger" onclick="delete_item({{item.id}})">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function delete_item(id)
        {
            fetch("/items/delete/"+id,{method:"DELETE"})
                .then(response => response.json())
                .then(data => document.getElementById("result").innerHTML =data.Message)

        }
    </script>
{% endblock %}