{% extends "base.html" %}

{% block title %}
    <title>Delete Items Page</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Delete an item</h1>
        {% if msg %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S No.</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                     <td>Delete</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}