{% extends 'base.html' %}

{% block title %}
    <title>Update Item Page</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-center">Update an Item</h3>
        <div id="result">

        </div>
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <form>
            <div class="mb-3">
                <label for="title" class="form-label">Item Title</label>
                <input type="text" value="{{ item.title }}" required class="form-control" id="title" name="title" placeholder="Enter Item Title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Item Description</label>
                <textarea class="form-control" required name="description" id="description" placeholder="Enter Item Description">{{ item.description }}</textarea>
            </div>
            <div class="form-text">Enter full item description in details</div>
        </form>
        <button type="submit" class="btn btn-primary" onclick="update_item({{ item.id }})">Update</button>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function update_item(id)
        {
            var data = {}
            data["title"]= document.getElementById("title").value
            data["description"] = document.getElementById("description").value
            fetch("/items/update/"+id,{
                method:"PUT",
                headers:{"Content-Type":"application/json"},
                body:JSON.stringify(data),
            })
        }
    </script>
{% endblock %}